@media screen and (min-width:1600px) {
    .navbar-nav {
        margin-left: 28vw;
    }
    .footer_inner {
        padding: 40px 350px;
        background: #EA541A;
    }
    .section_title {
        font-size: 33px;
    }
    .information_title {
        font-size: 28px;
    }
    .logo {
        width: 270px;
        height: 100px;
    }
    .nav-item {
        text-align: center;
        font-size: 25px;
    }
    .footer_title, .footer_contact{
        font-size: 24px;
    }
    .footer_icon {
        width: 90px;
        height: 90px;
        border-radius: 45px;
    }
}

@media screen and (min-width:2000px) {
    .navbar-nav {
        margin-left: 40vw;
    }
    .footer_inner {
        padding: 40px 550px;
        background: #EA541A;
    }

}

@media screen and (max-width:1180px) {
    .footer_inner {
        padding: 60px 100px;
    }
    .navbar-nav {
        margin-left: 15vw;
    }
}

@media screen and (max-width:990px) {
    .navbar-nav {
        margin-left: 0vw;
    }
}

@media screen and (max-width:768px) {
    #footer {
        display: none;
    }
    .footer_title_section3 {
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #EA541A;
        color: #471406;
    }
    .footer_contact {
        margin-top: 5px;
    }
    .footer_icon {
        margin: 20px 5px;
    }
}

@media screen and (max-width:576px) {
    .text {
        display: none;
    }
    .information_pic {
        width: 100%;
        height: 18vw;
        background-size: cover;
    }
}

@media screen and (max-width:460px) {
    .navbar-toggler{
        padding: 0.15rem 0.4rem;
    }
    .logo {
        width: 100px;
        height: 30px;
    }
    .banner {
        margin: 0 auto;
        width: 100%;
        height: 35vw;
        background-image: url("image/banner.jpg");
        background-size: cover;
    }
    .banner_bag {
        width: 100%;
        height: 45vw;
        padding: 5vw  0vw ;
        background: #F29119;
    }
    .information_inner {
        padding: 50px 5%;
    }
    .information_pic {
        height: 25vw;
    }
    .information_photo {
        height: 75vw;
    }
}